@page "/product/{Id:int}"
@using System.Security.Cryptography
@using Application.Attributes
@using Application.Models
@using Application.Services
@inject ProductWSService _ProductWsService
@inject BrandWSService _BrandWsService
@inject ProductTypeWSService _ProductTypeWsService



<link href="css/productCreate.css" rel="stylesheet" />


<PageTitle>Products Detail</PageTitle>


<h3>Details of product </h3>

@if (product == null)
{
    <p>Loading…</p>
}
else
{
    <div id="addDiv">
        <EditForm Model="product" OnValidSubmit="UpdateProduct">
            @foreach (var prop in typeof(Product).GetProperties().Where(p => !Attribute.IsDefined(p, typeof(IgnoreInTemplateAttribute))))
            {
                <div>
                    <label>@prop.Name</label>
                            
                    @if (prop.PropertyType == typeof(int) || prop.PropertyType == typeof(int?))
                    {
                        <input type="number"
                               value="@prop.GetValue(product)"
                               @onchange="e => prop.SetValue(product, Convert.ToInt32(e.Value))" />
                    }
                    else
                    {
                        <input type="text"
                               value="@prop.GetValue(product)"
                               @onchange="e => prop.SetValue(product, e.Value?.ToString())" />
                    }
                </div>
            }
            <h4>Image : </h4>
            @if (!string.IsNullOrWhiteSpace(product?.UriPhoto))
            {
                <img src="@product.UriPhoto" alt="@product.NomProduit"/>
            }
            else
            {
                <p>No image available</p>
            }
            <select @bind="product.IdMarque">
                <option value="">-- Select brand --</option>
                @foreach (var brand in brands)
                {
                    <option value="@brand.IdMarque">@brand.NomMarque</option>
                }
            </select>

            <select @bind="product.IdTypeProduit">
                <option value="">-- Select product type --</option>
                @foreach (var type in productTypes)
                {
                    <option value="@type.IdTypeProduit">@type.NomTypeProduit</option>
                }
            </select>
            <button type="submit">Update</button>
        </EditForm>
        <div id="imagediv">
            
        </div>
    </div>
}

@code {
    [Parameter] public int Id { get; set; }

    private Product? product;
    private List<Marque>? brands;
    private List<TypeProduit>? productTypes;

    protected override async Task OnInitializedAsync()
    {
        product = await _ProductWsService.GetByIdAsync(Id);
        brands = await _BrandWsService.GetAllAsync();
        productTypes = await _ProductTypeWsService.GetAllAsync();
    }

    private async Task UpdateProduct()
    {
        await _ProductWsService.UpdateAsync(product);
    }
}