@page "/product/{Id:int}"
@using Application.Attributes
@using Application.Models
@using Application.ViewModel
@inject BaseEntityViewModel<Marque> _BrandViewModel
@inject BaseEntityViewModel<TypeProduit> _ProductTypeViewModel
@inject ProductViewModel _ProductViewModel
@inject NavigationManager NavManager



<link href="css/productCreate.css" rel="stylesheet" />


<PageTitle>Products Detail</PageTitle>


<h3>Details of product </h3>

@if (_ProductViewModel.CurrentEditingProduct == null)
{
    <p>Loading…</p>
}
else
{
    <div id="addDiv">
        <EditForm Model="_ProductViewModel.CurrentEditingProduct" OnValidSubmit="UpdateProduct">
            @foreach (var prop in typeof(Product).GetProperties().Where(p => !Attribute.IsDefined(p, typeof(IgnoreInTemplateAttribute))))
            {
                <div>
                    <label>@prop.Name</label>
                            
                    @if (prop.PropertyType == typeof(int) || prop.PropertyType == typeof(int?))
                    {
                        <input type="number"
                               value="@prop.GetValue(_ProductViewModel.CurrentEditingProduct)"
                               @onchange="e => prop.SetValue(_ProductViewModel.CurrentEditingProduct, Convert.ToInt32(e.Value))" />
                    }
                    else
                    {
                        <input type="text"
                               value="@prop.GetValue(_ProductViewModel.CurrentEditingProduct)"
                               @onchange="e => prop.SetValue(_ProductViewModel.CurrentEditingProduct, e.Value?.ToString())" />
                    }
                </div>
            }
            <h4>Image : </h4>
            @if (!string.IsNullOrWhiteSpace(_ProductViewModel.CurrentEditingProduct?.UriPhoto))
            {
                <img src="@_ProductViewModel.CurrentEditingProduct.UriPhoto" alt="@_ProductViewModel.CurrentEditingProduct.NomProduit"/>
            }
            else
            {
                <p>No image available</p>
            }
            <select @bind="_ProductViewModel.CurrentEditingProduct.IdMarque">
                <option value="">-- Select brand --</option>
                @foreach (var brand in _BrandViewModel.Items)
                {
                    <option value="@brand.IdMarque">@brand.NomMarque</option>
                }
            </select>

            <select @bind="_ProductViewModel.CurrentEditingProduct.IdTypeProduit">
                <option value="">-- Select product type --</option>
                @foreach (var type in _ProductTypeViewModel.Items)
                {
                    <option value="@type.IdTypeProduit">@type.NomTypeProduit</option>
                }
            </select>
            <div class="form-buttons">
                <button @onclick="DeleteProduct" id="deleteButton">Supprimer</button>
                <button type="submit">Update</button>
            </div>
        </EditForm>
        
    </div>
}

@code {
    [Parameter] public int Id { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        await _BrandViewModel.LoadAsync();
        await _ProductTypeViewModel.LoadAsync();
        await _ProductViewModel.SetCurrentEditingProduct(Id);
    }

    private async Task UpdateProduct()
    {
        await _ProductViewModel.UpdateCurrentEditingProduct();
    }

    private async Task DeleteProduct()
    {
        await _ProductViewModel.DeleteCurrentEditingProduct();
        NavManager.NavigateTo("/products");
    }
}